@import "tailwindcss";

:root {
  --font-source-serif: 'SourceSerifPro', serif;
}

body {
  /* font-family: var(--font-source-serif);
   */
   font-family: "Times New Roman", Times, serif;
}

@keyframes fontChange {
  0%   { font-family: 'Arial', sans-serif; }
  25%  { font-family: 'Times New Roman', serif; }
  50%  { font-family: 'Courier New', monospace; }
  75%  { font-family: 'Georgia', serif; }
  100% { font-family:  'Helvetica', sans-serif; }
}

.font-animate:hover {
  animation: fontChange 0.5s infinite steps(1,end);
}


